#!/usr/bin/make -f

SOURCE_PACKAGE = mail-spf-perl
PACKAGE = $(shell dh_listpackages)

ifndef PERL
    PERL = /usr/bin/perl
endif

TMP = $(CURDIR)/debian/tmp

BUILD = ./Build

build: build-stamp
build-stamp:
	dh_testdir
	$(PERL) Build.PL installdirs=vendor
	$(BUILD)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	[ ! -f $(BUILD) ] || $(BUILD) distclean
	dh_clean build-stamp install-stamp

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	
	$(BUILD) test
	$(BUILD) install destdir=$(TMP)
	
	# Manually create man-pages for sbin/ executables:
	mkdir -p $(TMP)/usr/share/man/man8
	pod2man -s8p $(TMP)/usr/sbin/spfd           $(TMP)/usr/share/man/man8/spfd.8p
	
	# Rename the `spfquery` and `spfd` tools and their man-pages for the alternatives system:
	mv $(TMP)/usr/bin/spfquery                  $(TMP)/usr/bin/spfquery.$(SOURCE_PACKAGE)
	mv $(TMP)/usr/share/man/man1/spfquery.1p    $(TMP)/usr/share/man/man1/spfquery.$(SOURCE_PACKAGE).1p
	mv $(TMP)/usr/sbin/spfd                     $(TMP)/usr/sbin/spfd.$(SOURCE_PACKAGE)
	mv $(TMP)/usr/share/man/man8/spfd.8p        $(TMP)/usr/share/man/man8/spfd.$(SOURCE_PACKAGE).8p
	
	touch install-stamp

# Build architecture-independent files here:
binary-indep: build install
	dh_testdir
	dh_testroot
	
	dh_install --sourcedir=$(TMP)
	dh_installdirs
	dh_installdocs -A README TODO
	#dh_installdocs -p libmail-spf-perl README TODO
	#dh_installdocs -p spf-tools-perl   README TODO
	dh_installchangelogs CHANGES
	dh_installexamples #examples/*
	#dh_installman
	dh_link
	
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here:
binary-arch:
	# Nothing to do.

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
